# CONEXÃO / PORTAS ========================================================================================================
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_endpointprivacy true

# BANCO DE DADOS ==========================================================================================================
set mysql_connection_string "server=127.0.0.1;uid=root;password=;database=vrpex;port=3306;charset=utf8mb4"
set mysql_slow_query_warning 999

# CONFIGURAÇÕES GERAIS ====================================================================================================
sets locale "pt-BR"

sv_hostname "Dog Network | Base Vrpex Open Source"
sets sv_projectName "Dog Vrpex"
sets sv_projectDesc "Base Open de alta performance. Crie sua história, domine as ruas e evolua sem limites."

sets Grupo "Dog Network"
sets Desenvolvedor "Dog"
sets Discord "https://discord.gg/94BgBefr7q"

sv_maxclients 7
sv_enforceGameBuild 2372

sets tags "rp, roleplay, vrpex, network, pvp, br, brasil, brazil, otimizado, fps, foguete, lotus, complexo, santa, paris, tokyo, fusion, space, disney, infinity, fluxo, havana, kush, dubai, brazuka, nexus, capital, one, street, north, meta"
# IDENTIDADE VISUAL =======================================================================================================
sets banner_detail "SEUGIF"
sets banner_connecting "SEUGIF"
load_server_icon logo.png

# KEYS / LICENÇAS =========================================================================================================
set steam_webApiKey "" # https://steamcommunity.com/dev/apikey
sv_licenseKey "" # https://portal.cfx.re/servers/registration-keys

adhesive_cdnKey ""

# ONESYNC =================================================================================================================
set onesync_enableInfinity 1
onesync on
onesync_population false
onesync_distanceCullVehicles true
onesync_forceMigration true

# VOIP ====================================================================================================================
setr voice_syncData 1
setr voice_useSendingRangeOnly true
setr voice_useNativeAudio true
setr voice_enableSubmix 1
setr voice_enableUi 0

# RESOURCES ===============================================================================================================
ensure [vrp]
ensure [fivem]
ensure [mirtin]
ensure [nation]
ensure [outros]
